<div class="c-sample">

    <h2 class="c-sample__heading text-red">Here Is a Sample Component</h2>

    <p class="c-sample__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue nisi ut laoreet luctus. Aenean placerat ultrices nibh id vehicula. Nulla vel neque vel enim ultrices vulputate vel ut dolor. Curabitur enim nulla, fringilla a magna sit amet, tristique varius enim. Curabitur a urna blandit, placerat arcu eget, semper mi. </p>
    <button class="c-btn c-btn--primary">Primary</button>
</div>