/*
 *
 * XC Namespaced Color variables for optional use with other CSS frameworks
 *
 */

$xc-color-primary:      #11869b !default;
$xc-color-secondary:    #a9044f !default;
$xc-color-tertiary:     #f2a300 !default;
$xc-color-success:      #28a745 !default;
$xc-color-info:         #ffc107 !default;
$xc-color-danger:       #dc3545 !default;