/*
 *
 * Various reset mixins to reset styling of common HTML elements
 *
 */

@mixin reset-list() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin reset-button() {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}